h1,h3{
text-align:center;
}
h3{
/*background-color:black;*/
color:white;
font-size:0.9em;
margin-bottom:0px;
}
nav{
background-image: url("imageblog.jpg");
}

.news p{
background-color:#cccc;
margin-top:0px;

}

.news a{
text-decoration:none;
}

a{
text-decoration:none;

}
